{{#each myPosts}}
  <div class="post" data-id="{{postId}}">
    <!-- CONTAINS CARD -->
    <div class="card-container">
      <div class="card card-post-color">
        <form class="card-body was-validated">
          <div class="card-top-section">
            <!-- DISPLAY POST TITLE -->
            <input
              type="text"
              class="card-title"
              placeholder="Enter Title"
              aria-label="Post Title"
              value="{{postTitle}}"
            />
            <div class="valid-feedback" style="display: none;">
              Great!
            </div>
            <div class="invalid-feedback" style="display: none;">
              Please enter a title.
            </div>
            <!-- Actions should have confirmation required -->
            <div class="card-icon-section">
              <!-- PROFILE ICON / navigates to edit_profile.handlebars -->
              <i class="bi bi-pencil card-icon"></i>
              <!-- TRASH ICON / makes DELETE request to server for this post -->
              <i class="bi bi-trash card-icon"></i>
            </div>
          </div>
          <!-- CARD TEXT -->
          <textarea
            class="card-text form-control"
            placeholder="Enter Text"
            aria-label="Post Body Text"
            required
          >{{postDescription}}</textarea>
          <div class="changes-btn-container">
            <button type="button" class="btn btn-primary save-btn">
              Save Changes
            </button>
            <button type="button" class="btn btn-outline-danger discard-btn">
              Discard Changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{{/each}}