<div>
  <div class="create-search-section ">

    {{!-- Create a new post button --}}
    <!-- Search bar -->
    {{> search-bar}}
    <div id="create-new-post" class="tab-pane fade show active" role="tabpanel">
      <a id="create-new-post-btn" class="btn create-text" role="button">
        <i class="bi bi-plus-square-fill"></i>
        Create a new post</a>
    </div>

  </div>

  <div id="my-posts-area">


    {{!-- if the user has posts, then show them, otherwise show the no posts message --}}
    {{#if myPosts}}
    {{> dashboard-posts}}
    {{else}}
    {{> no-posts-found}}
    {{/if}}
  </div>
  {{!-- HIDDEN ELEMENT --}}
  <div id="template-card-hidden" hidden class="post">
    <!-- CONTAINS CARD -->
    <div class="card-container">
      <div class="card card-post-color">
        <form class="card-body needs-validation" novalidate>
          <div class="card-top-section">
            <!-- DISPLAY POST TITLE -->
            <input required type="text" class="card-title" placeholder="Enter Title" aria-label="Post Title"
              minlength="1">
            <div class="valid-feedback">
              Great!
            </div>
            <div class="invalid-feedback">
              Please enter a title.
            </div>
            <!-- Actions should have confirmation required -->
            <div class="card-icon-section">
              <!-- EDIT ICON / open the post in an edit mode -->
              <i class="bi bi-pencil card-icon"></i>
              <!-- TRASH ICON / makes DELETE request to server for this post -->
              <i class="bi bi-trash card-icon"></i>
            </div>
          </div>
          <hr class="hr card-hr" />
          <!-- CARD TEXT -->
          <textarea class="card-text form-control" placeholder="Enter Text" id="validationTextarea"
            aria-label="Post Body Text" required></textarea>
          <div class="changes-btn-container">
            <button type="button" class="btn btn-primary save-btn save-btn-submit">
              Save Changes
            </button>
            <button type="button" class="btn btn-outline-danger discard-btn">
              Discard Changes
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>